apiVersion: apps/v1
kind: Deployment
metadata:
  name: marketplace
  labels: 
    app: marketplace
spec:
  replicas: 3
  selector: 
    matchLabels:
      app: marketplace
  template:
    metadata:
      labels:
        app: marketplace
    spec:
      containers:
        - name: marketplace
          image: keyem4251/marketplace:0.1
          env:
            - name: RECOMMENDATIONS_HOST
              value: recommendations
          env:
            - name: INVENTORY_HOST
              value: inventory
          envFrom:
          - secretRef:
              name: firebase-config
